<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/index.js"></script>
    <script src="/js/lib/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <title>CRUD</title>
</head>
<body>
    <hr>
    <table class="table">
        <tbody>
            <tr>
                <th><input type="submit" value="Sign out" onclick="logOut()"></th>
            </tr>
            <tr>
                <th><button onclick="bulkcreate()">bulkcreate</button></th>
                <th>&lt;&lt;&lt; This button creates the five entries into the db</th>
            </tr>
            <tr>
                <th><button onclick="findCustomerById()">findById</button></th>
                <th><input class="id_find" type="text"></th>
            </tr>
            <tr>
                <th><button onclick="findCustomerByName()">findByName</button></th>
                <th><input class="name_find" type="text"></th>
            </tr>
            <tr>
                <th><button onclick="deleteCustomerById()">deleteById</button></th>
                <th><input class="id_delete" type="text"></th>
            </tr>
            <tr>
                <th><button onclick="deleteCustomerByName()">deleteByName</button></th>
                <th><input class="name_delete" type="text"></th>
            </tr>
            <tr>
                <th><button onclick="findAll()">findAll</button></th>
            </tr>
            <tr>
                <th><button onclick="clearTable()">clear</button></th>
            </tr>
        </tbody>
    </table>

    <hr>

    <div class="result"></div>

    <hr>

    <table class="table">
        <tbody>
            <tr class="menu-row">
                <th></th>
                <th>id</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
            <tr>
                <th><button onclick="saveCustomer()">add</button></th>
                <th><input class="add-id" type="text" placeholder="if present then update"></th>
                <th><input class="add-name" type="text" placeholder="Name"></th>
                <th><input class="add-age" type="text" placeholder="Age"></th>
                <th><button onclick="clearRepository()">clearRepository</button></th>  
            </tr>
        </tbody>
    </table>

    <hr>

    <table class="table">
        <tbody class="customers">
            <tr>
                <th>№ (not id)</th>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </tbody>
    </table>
    <hr>
</body>
</html>