<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/lib/jquery-3.4.1.min.js"></script>
    <script src="/js/registration.js"></script>
    <title>Login</title>
</head>
<body>
    <form action="javascript:register()">
        <table class="table">
            <tbody>
            <tr>
                <th>Username: </th>
                <th><input class="username" type="text" name="username"></th>
            </tr>
            <tr>
                <th>Password: </th>
                <th><input class="password" type="password" name="password"></th>
            </tr>
            <tr>
                <th><input type="submit" value="Register"></th>
            </tr>
            <tr>
                <th><a href="/login">login</a></th>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>