p {
    margin-bottom: 0;
}
.wrapper {
    padding: 20px;
}

.form-input {
    width: 100%;
    margin-top: 10px;
    max-height: 40px;
    padding: 10px;
}

.btn {
    margin-top: 10px;
}

.text {
    font-size: 10px;
    margin: 10px 0 0 0;
}

.table-customers {
    line-height: 38px;
}

.table-customers-row {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 5px 0;
}

.btn-delete {
    margin-top: 0;
}